<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}gestion-pharma{% endblock title %}</title>
  </head>
  <body>
    {% block accueil %}{% endblock accueil %}
    <h1>Gestion Pharmacie</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione,
      voluptates unde adipisci nam vel blanditiis dicta soluta nulla omnis autem
      et ex obcaecati, itaque explicabo veniam vitae reprehenderit ullam
      repellendus eligendi eos ut odio?
    </p>
  </body>
</html>
