
# Django et Base de données
db.sqlite3
.env

# Environnements virtuels et dépendances
env/
venv/
.venv/

# Caches Python
**/__pycache__/
*.pyc

# Fichiers statiques et médias générés
/staticfiles/
/media/
